<!--The content below is only a placeholder and can be replaced.-->

<!-- <div class="panel panel-default" [ngStyle] ="{'background-image': getUrl()}">
</div>  
<div> <img src="{{backImage}}"> </div>
-->
<!-- <div [style.background]="'url('+ backImage + ')'"> </div> -->
<!-- <app-back-image></app-back-image> -->


 <!-- <img class="back-img" src={{backImage}} alt="" style="width:1280px; height:914px;">  -->
 <!-- background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)); -->

 
 <!-- <button mat-button>Mybutton</button>
<span>
  <app-home></app-home>
</span> -->
<div class="navBar">
<ul>
  <li><a routerLink="">Home</a> </li>
  <li><a routerLink="about">About</a></li>
  <li id="contact"> <a routerLink="contact-us">Contact Us</a></li>
</ul>

</div>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
