
body {
 /* background:url(/assets/barca.jpeg); */
}
    
 ul {

  list-style-type: none;
  font-family: sans-serif;
  margin: 0em 0 1em 0;
  background: rgba(0,0,0,0.7);
  padding: 1.5em;
  
  }
 ul li a:hover {
    background: rgba(255,255,255,0.1);
      /* padding:.5em 3px .5em 3px; */
    border-radius: 8px;
  }
 ul li {
  display: inline;
  margin-right: 20px;
  }
  ul li a {
      font-size: 1.2em;
      color:whitesmoke;
      text-decoration: none;
    }

  #contact {
    align-content: right;
    /* margin-left: 800px;
    padding-left: 100px; */
  }
.navBar {
  background-color: rgba(255,255,255,0);

}