<!-- <div>
  <a href="home.html" class="logo"><img src="{{ logo }}" width="100px" height="80px"></a> 
</div> -->
<div class="search-bar">

  <form class="formm"  method="get">
    <input id="searchbox" type="search" name="SearchBox" placeholder="Search Hotels Here" size="20">
    <select class="select" name="rooms" placeholder="Select Room Options" size="">
      <option value="1 Room, 2 Adults, 0 children">1 Room, 2 Adults, 0 Children</option>
      <option value="1 Room, 2 Adults, 0 children">1 Room, 1 Adults, 0 Children</option>  
      <option value="More Options">More Options</option>
    </select>
    <input type="submit" class="searchButton" name="searchButton" value="Search">
  </form>
  <!-- <form class="example-form">
  <mat-form-field class="example-full-width">
    <input class="input" matInput placeholder="Search here" value="">
  </mat-form-field>
  <mat-form-field class="selector">
  <mat-select placeholder="Favorite food" class="input">
        <mat-option *ngFor="let room of RoomOptions" [value]="room.value">
          {{ RoomOptions.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
     <!-- <mat-form-field>
      <input matInput [matDatepicker]="myDatepicker">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field> -->

  <!-- <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field> -->
<!-- </form> -->

</div>